<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Admin Panel'}) %>
  <body>
    <main class="container mt-4">
      <div>
        <h5>Vessel</h5>
        <a href="/vessel-creation">
          <button class="btn button btn-primary">Vessel creation</button>
        </a>
        <a href="/voyage-creation">
          <button class="btn button btn-primary">Voyage Creation</button>
        </a>
      </div>
      <div class="mt-2">
        <h5>Route</h5>
        <a href="/port-creation">
          <button class="btn button btn-primary">Port creation</button>
        </a>
        <a href="/Service">
          <button class="btn button btn-primary">Service creation</button>
        </a>
      </div>
    </main>
  </body>
</html>
