<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Admin Panel'}) %>
  <body>
    <main class="container mt-4">
      <a href="/vessel-voyage-creation">
        <button class="btn button btn-primary">Vessel/Voyage Creation</button>
      </a>
      <a href="/port-creation">
        <button class="btn button btn-primary">Port creation</button>
      </a>
    </main>
  </body>
</html>
