<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Admin Panel'}) %>
  <body>
    <main class="container mt-4">
      <div>
        <h5>Vessel</h5>
        <a href="/vessel-creation">
          <button class="btn button btn-primary">Vessel Creation</button>
        </a>
        <a href="/voyage-creation">
          <button class="btn button btn-primary">Voyage Creation</button>
        </a>
      </div>
      <div class="mt-2">
        <h5>Route</h5>
        <a href="/Service-creation">
          <button class="btn button btn-primary">Service Creation</button>
        </a>
        <a href="/port-creation">
          <button class="btn button btn-primary">Port Creation</button>
        </a>
      </div>
      <div class="mt-2">
        <h5>Allocation</h5>
        <a href="/allocation-creation">
          <button class="btn button btn-primary">Allocation at Port</button>
        </a>
      </div>
      <div class="mt-2">
        <h5>Schedule</h5>
        <a href="/vessels-selection">
          <button class="btn button btn-primary">Schedule</button>
        </a>
      </div>
      <div class="mt-2">
        <h5>Customer</h5>
        <a href="/customer-creation"
          ><button class="btn button btn-primary">Add Customer</button></a
        >
      </div>
    </main>
  </body>
</html>
