<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Customer Edit Form'}) %>
  <body>
    <main class="container mt-4">
      <form action="/customer-creation" method="POST">
        <div class="form-group">
          <label for="customer-name">Customer Name:</label>
          <input
            type="text"
            name="customer_name"
            id="customer_name"
            class="form-control"
            value="<%= data.customer_name %>"
          />
        </div>
        <div class="form-group">
          <label for="op-code">Op Code:</label>
          <input
            type="text"
            name="op_code"
            id="op_code"
            class="form-control"
            maxlength="2"
            value="<%= data.op_code %>"
          />
        </div>
        <input type="submit" value="Submit" class="btn btn-success" />
      </form>
    </main>
  </body>
</html>
