<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Loadings Creation Form'}) %>
  <body>
    <main class="container mt-4">
      <div class="row">
        <div class="col-3 border-dark border-right" style="min-height: 540px">
          <form action="/loadings-creation"></form>
        </div>
      </div>
    </main>
  </body>
</html>
