<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrap') %> <%- include('partials/nav') %>
    <link rel="stylesheet" href="/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- login form -->
    <main class="container">
      <div
        class="form-container login mx-auto mt-5 justify-content-center"
        style="width: 400px; height: 200px"
      >
        <form action="/login" method="POST" class="">
          <div class="form-group form-inline justify-content-center mt-4">
            <label for="username" class="mr-2">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control h-50"
            />
          </div>
          <div class="form-group form-inline justify-content-center">
            <label for="password" class="mr-2">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control h-50"
            />
          </div>
          <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-success mt-3" />
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
