<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrap') %> <%- include('partials/nav') %>
    <link rel="stylesheet" href="/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- login form -->
    <main class="container">
      <div class="form-container mx-auto mt-4" style="width: 500px">
        <form action="/login" method="POST" class="">
          <div class="form-group form-inline">
            <label for="username" class="">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control w-50"
            />
          </div>
          <div></div>
        </form>
      </div>
    </main>
  </body>
</html>
