<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Logging In'}) %>
  <body>
    <main class="container">
      <script>
        setTimeout(() => {
          // after 2 secs
          window.location = '/';
        }, 2000);
      </script>
      <p>Successfully logged in. Redirecting to main page.</p>
    </main>
  </body>
</html>
