<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrap') %> <%- include('partials/nav') %>
    <link rel="stylesheet" href="/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- login form -->
    <main class="container">
      <script>
        setTimeout(function () {
          // after 2 seconds
          window.location = '/';
        }, 2000);
      </script>
      <p>Successfully logged out. Redirecting to main page.</p>
    </main>
  </body>
</html>
