<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <main class="container">
      <h3 class="mt-4">Vessel list below</h3>
      <table class="table table-hover table-bordered mt-4">
        <thead>
          <tr>
            <th>No.</th>
            <th>Vessel Name</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.length; i++ ) { %>
          <tr>
            <td><%= i+1 %></td>
            <td>
              <a href="/vessel-voyage/<%= i %> "><%= data[i].vessel_name%> </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </div>
    </main>
  </body>
</html>
