*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fef6e4;
  /* margin-left: 25px;
  margin-right: 25px; */
}
a {
  /* color: #fef6e4; */
}

.login {
  border: 3px solid black;
  background-color: beige;
}

.jumbotron-color {
  background-color: #5bccf6;
}
table.table-index {
  border-collapse: collapse;
  margin: 25px 10px;
  font-size: 0.9rem;
  font-family: sans-serif;
  /* box shadow not necessary */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table.table-index thead tr {
  background-color: #f3d2c1;
  color: #000000;
}
table.table-index th {
  padding: 12px 5px;
}
table.table-index td {
  padding: 3px;
}
table.table-index tbody tr {
  border-bottom: 1px solid #dddddd;
}
table.table-index tbody tr:nth-of-type(even) {
  background-color: #f5eae4;
}
table.table-index tbody tr:nth-of-type(odd) {
  background-color: #fef6e4;
}
table.table-index tbody tr:last-of-type {
  border-bottom: 2px solid #f3d2c1;
}

table.table-bordered {
  border: 1px solid #000000;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #000000;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #000000;
}
