*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fcde67;
  /* margin-left: 25px;
  margin-right: 25px; */
}

.jumbotron-color {
  background-color: #5bccf6;
}

table.table-bordered {
  border: 1px solid #000000;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #000000;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #000000;
}
